{% extends "base.html" %}

{% block title %}Stock News - SmartLife{% endblock %}

{% block content %}
<div class="row">
    <!-- Main Content (News) -->
    <div class="col-12 mb-4">
        <h2>Latest Stock News</h2>
        <p>Welcome, {{ session.get('user_name', 'User') }}! Here are the top news for today:</p>

        {% if news %}
            {% for article in news %}
                <div class="card mb-3" style="background-color: #2d2d2d; border: 1px solid #444; border-radius: 35px; border:none">
                    <div class="card-body" style="color: #FFF27A; margin-left:10px; margin-right: 10px;">
                        <h5 class="card-title">
                            <a href="{{ article.url }}" target="_blank" style="color: #FFF27A; text-decoration: none;">
                                {{ article.title }}
                            </a>
                        </h5>
                        <p class="card-text">{{ article.description }}</p>
                        <small>Published at: {{ article.publishedAt }}</small>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No news available at the moment.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
